{
    "port": 3000,
    "baseurl": "https://pretty.cool.domain/",
    "uploaddir": "uploads",
    "allowedmimetypes": [
        "image/png",
        "image/jpeg",
        "text/plain",
        "video/mp4",
        "image/gif"
    ]
}
