{
    "users": [
        {
            "username": "",
            "password": "",
            "dirs": {
                "images": "",
                "videos": "",
                "files": ""
            }
        }
    ]
}
